<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.SerComMapper">
	<resultMap id="servicemap" type="servicetype">
		<id property="serviceId" column="serviceid"></id>
		<result property="serviceName" column="servicename"></result>
		<result property="comMoney" column="commoney"></result>
	</resultMap>
    <select id="getAllSerCom" resultType="servicetype">
		SELECT serviceid,servicename,commoney FROM servicetype
	</select>

	<select id="getSerComById" resultType="servicetype">
		SELECT serviceid,servicename,commoney FROM servicetype where serviceid=#{serviceId}
	</select>

	<update id="updateSerCom" parameterType="cn.edu.guet.model.Servicetype">
   		update servicetype set commoney=#{comMoney} WHERE serviceid=#{serviceId}
	</update>

	<update id="updateQingkong" parameterType="cn.edu.guet.model.Servicetype">
   		update servicetype set commoney=#{comMoney} WHERE serviceid=#{serviceId}
	</update>

</mapper>